* {
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
}

nav {
  background: #b736ff;
  display: flex;
  padding: 24px 36px;
}

nav ul {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
}

nav ul li {
  margin-bottom: 0 !important;
}

nav a {
  color: white;
  font-size: 22px;
  text-decoration: none;
}

nav .active {
  color: rgb(245, 201, 9);
  text-shadow: 1px 1px 1px rgb(245, 201, 9),
    1px 2px 1px rgb(245, 201, 9),
    1px 3px 1px rgb(7, 7, 7, 0.4),
    1px 4px 2px rgb(7, 7, 7, 0.4);
}

h1 {
  font-weight: bold;
  font-size: 20px;
  color: #000000;
  margin: 0;
}

h2 {
  font-weight: bold;
  font-size: 16px;
  color: #000000;
  margin: 0;
}

button,
.button {
  background: #ffffff;
  border: 1px solid #03a8d8;
  border-radius: 20px;
  text-align: center;
  font-weight: bold;
  font-size: 14px;
  color: #03a8d8;
  padding: 10px 21px;
  text-decoration: none;
  width: fit-content;
}

.create-new-topic-button {
  margin: 0 auto;
  display: block;
  width: 182px;
}

section {
  padding: 20px 16px;
}

input,
select {
  background: #ffffff;
  border: 1px solid #979797;
  border-radius: 3px;
  padding: 8px 10px;
  width: 40%;
  margin-bottom: 16px;
}

select:invalid,
input::placeholder {
  color: #979797;
  opacity: 1;
}

.form-section {
  padding-top: 20px;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.center {
  display: block;
  margin: 40px auto 0 auto;
  text-align: center;
}

section > h1 {
  margin: 0;
  margin-bottom: 20px;
  text-align: center;
}

.actions-container {
  padding-top: 16px;
  display: flex;
  justify-content: space-between;
  width: 40%;
}

.card-front-back {
  padding-top: 25px;
  display: flex;
  justify-content: space-between;
  width: 40%;
  flex-wrap: wrap;
}

.remove-card-button {
  color: #03a8d8;
  text-align: right;
  font-weight: bold;
  font-size: 12px;
  display: block;
  border: none;
  padding: 5px 0;
  margin-top: -8px;
  width: 100%;
  cursor: pointer;
}

option {
  text-transform: capitalize;
}

.topics-list {
  list-style: none;
  padding: 0 40px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.topic {
  background: #ffffff;
  border: 1px solid #bcbcbc;
  border-radius: 3px;
  padding: 26px 20px;
  display: flex;
  justify-content: center;
  width: fit-content;
}

.topic-container {
  display: flex;
}

.topic img {
  width: 40px;
  margin-right: 14px;
}

.text-content > * {
  margin: 0;
}

.topic-link {
  text-decoration: none;
  color: #000000;
}

.text-content > p {
  font-size: 14px;
}

/*li:not(:last-child) {
  margin-bottom: 20px;
}*/

.topic-icon {
  width: 40px;
  display: block;
  margin: 0 auto;
}

.quizzes-list {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 12px;
}

.quiz {
  font-weight: bold;
  font-size: 14px;
  color: #000000;
  padding: 25px 6px;
  background: #ffffff;
  border: 1px solid #bcbcbc;
  border-radius: 3px;
  width: 88px;
  text-align: center;
  margin: 0 !important;
  text-decoration: none;
}

.quiz > a {
  text-decoration: none;
  color: #000000;
}

.cards-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.cards-list li {
  display: flex;
  justify-content: center;
  width: 30%;
}

.card {
  background: #b736ff;
  border-radius: 4px;
  border: none;
  color: white;
  padding: 50px 40px;
  width: 100%;
  font-size: 20px;
  transition: all 0.5s ease-in-out;
  transform: rotateY(0);
  cursor: pointer;
}

.card:hover {
  box-shadow: 5px 5px 5px 3px rgba(0, 0, 0, 0.3);
  scale: 1.05;
}

.back:hover {
  box-shadow: -5px 5px 5px 3px rgba(0, 0, 0, 0.3);
}

.back {
  background: rgb(233, 3, 145);
  transform: rotateY(180deg);
}

.card p {
  transform: rotateY(0);
  transition: all 0.5s ease-in-out;
}

.back .back-text {
  transform: rotateY(-180deg);
}